@charset "utf-8";

.page3 .title{
  position: relative;
  width:100%;
  margin-top:8rem;
  text-align:center;
  color: white;
  font-family: arvo;
  text-shadow:
  -3px -3px 0 #222,
  3px -3px 0 #222,
  -3px 3px 0 #222,
  3px 3px 0 #222,
  4px 4px 0 #fff,
  5px 5px 0 #111,
  6px 6px 0 #fff,
  7px 7px 0 #fff;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  transform:scaleY(0.9);
  -webkit-transform: scaleY(0.9);
  font-size:5rem;
}

.pfImg{
  text-align:center
}
.pfImg img{
  width:82%;
}
@media (max-width: 720px) {
  .page3 .title{
    text-align:left;
    margin-top:3%;
    line-height:1.5em;
    font-size:50px ;
  }

  .page3 .pfImg img{
    width:80%;
  }
}
