@charset "utf-8";

.page3 .title{
  position: absolute;
  width:100%;
  top:50%;
  transform: translateY(-50%);
  text-align:center;
  color: white;
  font-family: arvo;
  text-shadow:
  -3px -3px 0 #222,
  3px -3px 0 #222,
  -3px 3px 0 #222,
  3px 3px 0 #222,
  4px 4px 0 #fff,
  5px 5px 0 #111,
  6px 6px 0 #fff,
  7px 7px 0 #fff;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  font-size:5rem;
}


.pfImg img{
  width:82%;
}
@media (max-width: 720px) {
  .page3 .title{
    text-align: right;
    top:20%;
    transform: translateY(0%);
    line-height:1.5em;
    font-size:50px ;
  }

  .page3 .pfImg img{
    width:80%;
  }
}
